</div>

<div class="container">
<footer class="row">
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <p>
            Copyright &copy; 2019, <a href="/" itemprop="url name">Heywood Shepherd</a>.<br>
                <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">1 Park Street</span>,
                <span itemprop="addressLocality">Macclesfield</span>,
                <span itemprop="addressRegion">Cheshire</span>,
                <span itemprop="postalCode">SK11 6SR</span>
                </span><br>VAT Registration No: <span itemprop="vatID">527 5924 23</span>
        </p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        Phone: <span itemprop="telephone">01625 427459</span>
        <br>Fax: <span itemprop="faxNumber">01625 511276</span>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-2 col-xs-12 b8-logo">
        <a href="/assets/privacy-statement.pdf">Privacy Statement</a>
    </div>
</footer>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
