{% include header.html %}   

<h1>{{ page.title }}</h1>
{{ content }}


<div class="row" style="margin: 40px 0;">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="highlight-box">
        <div>
        <h3><a href="/our-services/accountancy">Accountancy</a></h3>
        <p>We offer services ranging from book keeping to the production of accounts for all types of business.
        </p>
        </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="highlight-box">
        <div>
        <h3><a href="/our-services/taxation">Taxation</a></h3>
        <p>Tax legislation is complex and specialist advice is essential to both business and individual clients.</p>
        </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="highlight-box">
        <div>
        <h3><a href="/our-services/audit-work">Audit Work</a></h3>
        <p>We are authorised by the ICAEW to carry out audit work.
        </p></div>
        </div>
        </div>
        </div>


        <div class="row">
                <div class="col-lg-12">
                <div class="well well-sm">
                <a href="/contact-us" class="btn btn-success ">Make an appointment</a>
                <span class="extratext">&nbsp; to discuss how we can be of assistance to you - the first hour is free of charge.</span>
                </div>
                </div>
                </div>

<div class="row">
        <div class="col-lg-12">
        <h2 class="h2-content">We can also help in any of these areas:</h2>
        </div>
        </div>
<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Payroll Services</h3>
                <p>Payroll, like all other aspects of taxation, is becoming increasingly complex. &nbsp;We can not only advise you on payroll matters, we can also run your payroll for you using the Sage payroll system.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Secretarial Services</h3>
                <p>We offer all types of company secretarial services ranging from the use of our address as the registered office of the company to completion of the various forms required by Companies House.</p>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Charity Accounting</h3>
                <div>We have experience in preparing, auditing and independently examining accounts for charities to ensure that they comply with current legislation.</div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Solicitor&#39;s Accounts</h3>
                <div>We are also specialists in Solicitor&#39;s Accounts Rules and can offer accountancy services to firms of solicitors.&nbsp;</div>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Sage</h3>
                <div>We offer training, advice, support and are authorised resellers of Sage software. &nbsp;We also provide book keeping services using Sage software in-house or on client&#39;s premises and can provide regular management accounts as required.</div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Trusts</h3>
                <div>We can complete Trust tax returns and prepare accounts for most types of Trust.</div>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Estates of the Deceased</h3>
                <p>We can prepare accounts for the estates of deceased persons, assist with applications for probate, deal with the deceased person&#39;s tax liability to the date of death, advise on tax liabilities during the period of administration and give other advice on matters arising during the period of administration of the estate.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Fee Protection Insurance</h3>
                <p>We offer fee protection insurance to help with costs of investigations by HM Revenue and Customs into our clients tax affairs.</p>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Financial Services</h3>
                <p>We are authorised and regulated by the Financial Conduct Authority (FCA) to give financial advice on:-</p>
                <ul>
                <li>Pension planning and schemes</li>
                <li>Protection planning</li>
                <li>Retirement planning</li>
                <li>Investments</li>
                <li>Private medical insurance and care plans</li>
                <li>Individual Savings Accounts (ISA&#39;s)</li>
                </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Other Services</h3>
                <p>We can offer advice and assistance on many other matters including:-</p>
                <ul>
                <li>Capital Gains Tax</li>
                <li>Inheritance Tax</li>
                <li>Financial advice to schools</li>
                <li>Planning for Partnerships</li>
                <li>Share valuations</li>
                <li>Software advice</li>
                <li>Grant applications</li>
                <li>Accounting for Pension Schemes</li>
                <li>Business and corporate investigations</li>
                <li>Acquisitions, Take Overs and Mergers</li>
                </ul>
                </div>
</div>

{% include footer.html %}